@use "../../App.scss";

#graph_selection {
  display: flex;
  justify-content: space-between;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  button {
    padding: 5px 10px;
    transition: 0.25s;
  }
}
#active {
  background-color: App.$primary_color_light;
  color: App.$accent_color_dark;
}

@media only screen and (min-width: 1024px) {
  #graph_selection {
    justify-content: left;
  }
}
